<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="MessageEncryption" type="ArtisanCode.SimpleAesEncryption.SimpleAesEncryptionConfiguration, ArtisanCode.SimpleAesEncryption"/>
  </configSections>

  <MessageEncryption>
    <EncryptionKey KeySize="256" Key="T1o/5FZzeJ4Se7e4p0Oa0OUFkhzeUUcJRScoBvUurXo="/>
  </MessageEncryption>


</configuration>


